.animate-scroll-left {
    animation: scroll-left 60s linear infinite;
}

.animate-scroll-right {
    animation: scroll-right 60s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
